@import url('https://fonts.googleapis.com/css2? family= Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;1,200;1,300;1,700;1,800;1,900 & display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

main {
    min-width: 100%;
    background-color: #4141;
    transition: 1s;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.main-2 {
    display: block;
}

h1 {
    font-size: 5rem;
    color: #001d3d;
}

p {
    font-size: 1.5rem;
    color: #001d3d;
}

.main-1 {
    
    text-align: left;
    padding: 10rem;
    min-height: 100vh;
    min-width: 100%;
    background-color: #4141;
    background-image: url(/img/milad.jpg);
    background-position-x: -135px;
    background-position-y: -42rem;
    background-repeat: no-repeat;
}



.main-1 div {
    flex: 1;
}

.main-2 {
    text-align: right;
    padding: 10rem;
    min-height: max-content;
    min-width: 100%;
    background-color: #d5f1f5;
    background-image: url(/img/milad.jpg);
    background-position-x: -135px;
    background-position-y: -100rem;
    background-repeat: no-repeat;
}

.main-3 {
    text-align: right;
    padding: 10rem;
    min-height: 100vh;
    min-width: 100%;
    background-color: #4141;
    
}

.btn {
    margin-top: 0.5rem;
    display: inline-block;
}

.btn button {
    width: 200px;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 45px;
    font-size: 1.5rem;
    font-weight: 700;
    transition: 0.5s;
}

.btn button:hover {
    cursor: pointer;
}

#start {
    background-color: #001d3d;
    color: #fff;
}

#start:hover {
    box-shadow: 1px 5px 10px #ffffffb1;
    background-color: #022e5c;
    color: #fff;
}

#subs {
    color: #001d3d;
}

#subs:hover {
    box-shadow: 1px 5px 10px #ffffffb1;
    background-color: #deeeff;
    color: #001d3d;
}

::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}

::-webkit-scrollbar-button {
    width: 1px;
    height: 1px;
}

body {
    background: #111;
}

div {
    box-sizing: border-box;
}

.horizontal-scroll-wrapper {
    display: block;
    width: calc(250px + 1px);
    min-height: 100vh;
    margin: 0;
    padding-top: 1px;
    background: #abc;
    overflow-y: auto;
    overflow-x: hidden;
    transform: rotate(-90deg) translateY(-250px);
    transform-origin: right top;
}

.horizontal-scroll-wrapper>div {
    display: block;
    transform: rotate(90deg);
    transform-origin: right top;
}

.squares {
    padding: 250px 0 0 0;
}

.squares>div {
    width: 100%;
    margin: 10px 0;
}

.wrapper {
    width: 200%;
    height: max-content;
    overflow-x: scroll;
  }
  
  .section {
    width: 50%;
    float: left;
  }
  
  .section-1 {
    background-color: #e6e6e6;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .section-2 {
    background-color: #f2f2f2;
    background-image: url(/img/milad.jpg);
    background-position-x: -120rem;
    background-position-y: -100rem;
    background-repeat: no-repeat;
    height: ;
    overflow-y: hidden;
    overflow-x: hidden;
  }



body {
    overflow-x: hidden;
    overflow-y: hidden;
}

@media only screen and (max-width: 900px) {
    .container {
        flex-direction: column;

    }

    h1 {
        font-size: 4rem;
    }

    .main-1 {
        padding: 10rem 2rem 10rem 2rem;
        background-position-x: -1060px;
        background-position-y: -60rem;
    }

    .main-2 {
        text-align: left;
        padding: 5rem 2rem;
        min-height: 100vh;
        min-width: 100%;
        background-position-x: -1060px;
        background-position-y: -60rem;

    }

}